.main .navbar {
  background-color: #2A2A2A;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.main .navbar i {
  margin: 0 12px;
  font-size: 19px;
  cursor: pointer;
}

.main .navbar i:hover {
  color: silver;
}

.main .navbar p {
  font-size: 12px;
}

.main .navbar span {
  width: 1px;
  height: 15px;
  background-color: #d4d4d4;
  margin: 0 15px;
}

.main .logo {
  padding: 10px 150px;
}

.main .logo .logoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .logo .logoItem .logo_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .logo .logoItem .logo_left h1 {
  font-size: 30px;
}

.main .logo .logoItem .logo_left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .logo .logoItem .logo_left form img {
  margin-left: 30px;
  height: 15px;
}

.main .logo .logoItem .logo_left form select {
  outline: none;
  border: none;
  color: #999999;
  font-size: 14px;
}

.main .logo .logoItem .logo_left form .logo_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px;
  background-color: #F7F7F7;
  width: 300px;
  padding: 5px 10px;
  border-radius: 5px;
}

.main .logo .logoItem .logo_left form .logo_search i {
  color: #999999;
  cursor: pointer;
}

.main .logo .logoItem .logo_left form .logo_search input {
  width: 100%;
  outline: none;
  border: none;
  background-color: #F7F7F7;
  margin: 0 5px;
  font-size: 16px;
}

.main .logo .logoItem .logo_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .logo .logoItem .logo_right .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .logo .logoItem .logo_right .phone i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #2A2A2A;
}

.main .logo .logoItem .logo_right .phone p {
  margin: 0 10px;
}

.main .logo .logoItem .logo_right .like {
  border-left: solid 1px #2A2A2A;
  border-right: solid 1px #2A2A2A;
  padding: 0 20px;
  margin: 0 20px;
  position: relative;
}

.main .logo .logoItem .logo_right .like > span {
  position: absolute;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  width: 10px;
  height: 10px;
  background-color: #7FAD39;
  border-radius: 50%;
  color: white;
  left: 30px;
  top: -3px;
}

.main .logo .logoItem .logo_right .profile select {
  outline: none;
  border: none;
}

.main .navlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 150px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  background-color: white;
  margin: 10px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.main .navlink .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .navlink .link .menu {
  background-color: #F7F7F7;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .navlink .link .menu .span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .navlink .link .menu .span span {
  margin: 1px 0;
  width: 15px;
  height: 2px;
  background-color: #2A2A2A;
}

.main .navlink .link .menu p {
  margin: 0 10px;
  font-weight: bold;
  font-size: 12px;
}

.main .navlink .link a {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: #2A2A2A;
  font-weight: bold;
}

.main .navlink .link a:hover {
  color: #7FAD39;
}

.main .navlink button {
  padding: 10px 20px;
  background-color: #7FAD39;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.main .navlink button img {
  margin-right: 10px;
}

.main .navlink button:hover {
  background-color: #6a942b;
}

@media (max-width: 1200px) {
  .main .logo {
    padding: 10px 80px;
  }
  .main .logo .logoItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .logo .logoItem .logo_left {
    width: 100%;
  }
  .main .logo .logoItem .logo_left h1 {
    width: 20%;
  }
  .main .logo .logoItem .logo_left form {
    width: 80%;
  }
  .main .logo .logoItem .logo_left form select {
    width: 50%;
  }
  .main .logo .logoItem .logo_left form .logo_search {
    width: 100%;
  }
  .main .logo .logoItem .logo_right {
    width: 100%;
    margin: 10px;
  }
  .main .navlink {
    padding: 10px 80px;
  }
}

@media (max-width: 700px) {
  .main .navlink {
    padding: 0 80px;
  }
  .main .navlink .link a {
    display: none;
  }
}

@media (max-width: 600px) {
  .main .logo {
    padding: 0 30px;
  }
  .main .navlink {
    padding: 0 30px;
  }
}

@media (max-width: 425px) {
  .main .navbar {
    padding: 10px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .navbar .icons {
    margin: 10px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .logo {
    padding: 0 20px;
  }
  .main .logo .logoItem .logo_left {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .logo .logoItem .logo_left form {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .main .logo .logoItem .logo_left form .logo_search {
    width: 100%;
  }
  .main .logo .logoItem .logo_left form .logo_search input {
    width: 100%;
  }
  .main .logo .logoItem .logo_left form img {
    margin: 10px 0;
  }
  .main .logo .logoItem .logo_left form select {
    width: 90%;
  }
  .main .logo .logoItem .logo_left h1 {
    width: 50%;
  }
  .main .logo .logoItem .logo_right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .logo .logoItem .logo_right .phone {
    width: 100%;
  }
  .main .logo .logoItem .logo_right .like {
    width: 30%;
    border: none;
    margin: 10px 0;
  }
  .main .logo .logoItem .logo_right .like i {
    padding: 0 15px;
    border-left: solid 1px #2A2A2A;
    border-right: solid 1px #2A2A2A;
  }
  .main .logo .logoItem .logo_right .like > span {
    left: 48px;
  }
  .main .logo .logoItem .logo_right .profile {
    width: 70%;
    text-align: end;
  }
  .main .navlink {
    padding: 0 20px;
  }
}

@media (max-width: 340px) {
  .main .navbar > span {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */