.main{
    .navbar{
        background-color: #2A2A2A;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        i{
            margin: 0 12px;
            font-size: 19px;
            cursor: pointer;
            &:hover{
                color: silver;
            }
        }
        p{
            font-size: 12px;
        }
        span{
            width: 1px;
            height: 15px;
            background-color: rgb(212, 212, 212);
            margin: 0 15px;
        }
    }
    .logo{
        padding: 10px 150px;
        .logoItem{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo_left{
                display: flex;
                align-items: center;
                h1{
                    font-size: 30px;
                }
                form{
                    display: flex;
                    align-items: center;
                    img{
                        margin-left: 30px;
                        height: 15px;
                    }
                    select{
                        outline: none;
                        border: none;
                        color: #999999;
                        font-size: 14px;
                    }
                    .logo_search{
                        display: flex;
                        margin: 0 30px;
                        background-color: #F7F7F7;
                        width: 300px;
                        padding: 5px 10px;
                        border-radius: 5px;
                        i{
                            color: #999999;
                            cursor: pointer;
                        }
                        input{
                            width: 100%;
                            outline: none;
                            border: none;
                            background-color: #F7F7F7;
                            margin: 0 5px;
                            font-size: 16px;
                        }
                    }
                }
            }
            .logo_right{
                display: flex;
                align-items: center;
                .phone{
                    display: flex;
                    i{
                        transform: rotate(90deg);
                        color: #2A2A2A;
                    }
                    p{
                        margin: 0 10px;
                    }
                }
                .like{
                    border-left: solid 1px #2A2A2A;
                    border-right: solid 1px #2A2A2A;
                    padding: 0 20px;
                    margin: 0 20px;
                    position: relative;
                    &>span{
                        position: absolute;
                        text-align: center;
                        font-size: 10px;
                        line-height: 10px;
                        width: 10px;
                        height: 10px;
                        background-color: #7FAD39;
                        border-radius: 50%;
                        color: white;
                        left: 30px;
                        top: -3px;
                    }
                }
                .profile{
                    select{
                        outline: none;
                        border: none;
                    }
                }
            }
        }
    }
    .navlink{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 150px;
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        background-color: white;
        margin: 10px 0;
        position: sticky;
        top: 0px;
        width: 100%;
        z-index: 1;
        .link{
            display: flex;
            align-items: center;
            .menu{
                background-color: #F7F7F7;
                padding: 10px 20px;
                display: flex;
                align-items: center;
                .span{
                    display: flex;
                    flex-direction: column;
                    span{
                        margin:1px 0;
                        width: 15px;
                        height: 2px;
                        background-color:#2A2A2A;
                    }
                }
                p{
                    margin: 0 10px;
                    font-weight: bold;
                    font-size: 12px;
                }
            }
            a{
                display: inline-block;
                margin: 0 15px;
                text-decoration: none;
                color: #2A2A2A;
                font-weight: bold;
                &:hover{
                    color: #7FAD39;
                }
            }
        }
        button{
            padding: 10px 20px;
            background-color: #7FAD39;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            color: white;
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
            img{
                margin-right:10px;
            }
            &:hover{
                background-color: #6a942b;
            }
        }
    }
}

@media (max-width:1200px){
    .main{
        .logo{
            padding: 10px 80px;
            .logoItem{
                flex-direction: column;
                .logo_left{
                    width: 100%;
                    h1{
                        width: 20%;
                    }
                    form{
                        width: 80%;
                        select{
                            width: 50%;
                        }
                        .logo_search{
                            width: 100%;
                        }
                    }
                }
                .logo_right{
                    width: 100%;
                    margin: 10px;
                }
            }
        }
        .navlink{
            padding: 10px 80px;
        }
    }
}

@media (max-width:700px){
    .main{
        .navlink{
            padding: 0 80px;
            .link{
                a{
                    display: none;
                }
            }
        }
    }
}

@media (max-width:600px){
    .main{
        .logo{
            padding: 0 30px;
        }
        .navlink{
            padding: 0 30px;
        }
    }
}

@media (max-width:425px){
    .main{
        .navbar{
            padding: 10px 0;
            flex-wrap: wrap;
            .icons{
                margin: 10px 0;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
        .logo{
            padding: 0 20px;
            .logoItem{
                .logo_left{
                    flex-wrap: wrap;
                    form{
                        width: 100%;
                        flex-wrap: wrap;
                        padding: 0;
                        .logo_search{
                            width: 100%;
                            input{
                                width: 100%;
                            }
                        }
                        img{
                            margin: 10px 0;
                        }
                        select{
                            width: 90%;
                        }
                    }
                    h1{
                        width: 50%;
                    }
                }
                .logo_right{
                    flex-wrap: wrap;
                    .phone{
                        width: 100%;
                    }
                    .like{
                        width: 30%;
                        border: none;
                        margin: 10px 0;
                        i{
                            padding: 0 15px;
                            border-left: solid 1px #2A2A2A;
                            border-right: solid 1px #2A2A2A;
                        }
                        &>span{
                            left: 48px;
                        }
                    }
                    .profile{
                        width: 70%;
                        text-align: end;
                    }
                }
            }
        }
        .navlink{
            padding: 0 20px;
        }
    }
}

@media (max-width:340px){
    .main{
        .navbar{
            &>span{
                display: none;
            }
        }
    }
}