@font-face {
    font-family: poppins;
    src: url(eats/fonts/Roboto-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.App{
    max-width: 1920px;
    display: block;
    margin: auto;
}